---
import Layout from "../layouts/Layout.astro";
import Popular from "../components/repo/Popular.astro";
---

<Layout>
  <section class="w-full max-w-full space-y-8 px-10 py-20 text-[#FFFFFF] md:w-[80rem]">
    <Popular />
  </section>
</Layout>
