---
import ContributionActivity from "../components/repo/ContributionActivity.astro";
import ContributionYear from "../components/repo/ContributionYear.astro";
import Popular from "../components/repo/Popular.astro";
---


  <section class="w-full max-w-full space-y-8 px-10 py-20 text-[#FFFFFF] md:w-[80rem]">
    <Popular />
    <ContributionYear />
    <ContributionActivity />
  </section>

