---
import smallGithub from "../assets/smallgithub.png";
---

<footer
  class="w-full gap-8 border-t-[1px] border-solid border-[#777] bg-[#041016] p-4 shadow md:flex md:items-center md:justify-evenly md:p-6"
>
  <div class="inline-flex items-center gap-4">
    <img src={smallGithub} alt="Github_Logo" />
    <span class="text-sm text-[#fff] sm:text-center">© 2023 GIthub. iNC Reserved.</span>
  </div>
  <ul class="mt-3 flex flex-wrap items-center text-base text-[#559DE6] sm:mt-0 xl:gap-3">
    <li>
      <a href="/about" class="mr-4 hover:underline md:mr-6">Terms</a>
    </li>
    <li>
      <a href="/" class="mr-4 hover:underline md:mr-6">Privacy</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Security</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Status</a>
    </li>
    <li>
      <a href="/about" class="mr-4 hover:underline md:mr-6">Docs</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Contact Github</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Pricing</a>
    </li>
    <li>
      <a href="#" class="hover:underline">API</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Training</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
    </li>
  </ul>
</footer>
