---
// import DropdownButton from "../dropdown/DropdownButton";
// import Contribute from "../dropdown/Contribute";
// import Button from "../Button";
// import DropdownBtn from "../DropdownBtn";
import rocketImg from "../../assets/rocket.png";
import playImg from "../../assets/play.png";
---

<section class="space-y-5">
  <div class="flex w-full flex-row justify-between">
    <h3 class="text-lg font-medium md:text-xl">10 contriburions in the last year</h3>
    <!-- <DropdownBtn client:idle isUseBg={false} triggerBtn="Repositorie Settings" lists={["Menu","Data",""]} /> -->
    <!--Dropdown  Button -->
    <div class="relative">
      <button
        class="text-white bg-[#021B27] font-medium rounded-lg text-sm px-6 py-2.5 text-center inline-flex items-center"
      >
        Contribution Settings
        <svg
          class="w-4 h-4 ml-2"
          aria-hidden="true"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"
          ></path>
          </svg>
      </button>
      <div
        class="absolute hidden z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          <li class="menu">
            <a
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              href="#"
            >
              2022
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="rounded-x flex flex-wrap text-center text-sm font-medium">
    <div class="flex w-full flex-row items-center justify-between rounded-t-xl bg-[#13233A] p-6">
      <span class="flex flex-row items-center gap-3">
        <img src={rocketImg} alt="Rocket Image" />
        <h4 class="inline-block text-sm text-white">
          We are celebrating 100 million developers!
          <a class="text-sm text-[#559DE6]" href="#">Read our blogpost</a>.
        </h4>
      </span>
      <button
        class="hover-animation text-sm inline-flex bg-[#21262D] font-semibold text-[#D3D3D3] border-[2px] border-solid border-[#A5A6A8] border-opacity-50 rounded-lg gap-3 px-6 py-3"
      >
        <img src={playImg} alt="Play Image" />
        Play An Animation
      </button>
    </div>
    <span
      class="flex w-full flex-col items-start justify-between gap-6 rounded-b-xl bg-[#021B27] px-8 pb-8"
    >
      <div class="flex flex-row items-center gap-3 pt-6">
        <button
          class="text-white bg-[#13233A] font-medium rounded-lg text-sm px-6 py-2.5 text-center inline-flex items-center"
        >
          16
          <svg
            class="w-4 h-4 ml-2"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path></svg
          >
        </button>
        <span class="w-[15px] h-1 bg-white"></span>
        <button
          class="text-white bg-[#13233A] font-medium rounded-lg text-sm px-8 py-2.5 text-center inline-flex items-center"
        >
          March
          <svg
            class="w-4 h-4 ml-2"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path></svg
          >
        </button>
        <span class="w-[15px] h-1 bg-white"></span>

        <button
          class="text-white bg-[#13233A] font-medium rounded-lg text-sm px-10 py-2.5 text-center inline-flex items-center"
        >
          2023
          <svg
            class="w-4 h-4 ml-2"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path></svg
          >
        </button>
      </div>
      <div class="inline-flex w-full flex-col items-start gap-2">
        <h5 class="text-base font-medium">3x Contribution</h5>
        <!-- Bar Progress -->
        <span class="h-3 w-full rounded-xl bg-gray-200">
          <div class="h-3 rounded-xl bg-[#39D353]" style="width: 95%"></div>
        </span>
      </div>
      <p class="text-[#A5A6A8]">Learn how we count contributions</p>
    </span>
  </div>
</section>
