---
// import Button from "../Button";
// import DropdownBtn from "../DropdownBtn";
// import ActivityCard from "../ActivityCard";
import DropdownButton from "../DropdownButton";
import Button from "../Button";
import ActivityData from "../ActivityData";
---

<style></style>

<section>
  <div class="flex w-full flex-row justify-between">
    <h3 class="text-lg font-medium md:text-xl">Contribution activity</h3>
  </div>

  <div class="group flex flex-col justify-between rounded-lg p-4 xl:w-full">
    <div class="flex w-full flex-row items-center justify-between">
      <h4 class="p-4 text-base font-medium text-white">Maret 2023</h4>
      <span class="w-[70%] border border-solid border-[#777777]"></span>
      <!--Dropdown  Button -->
      <DropdownButton client:idle text="2023" menu={["2022", "2021", "2020"]} />
    </div>
    <div class="flex w-full flex-col items-center justify-center gap-6 p-4 xl:w-full xl:text-base">
      <!-- <ActivityCard client:load /> -->
      <ActivityData client:load />
      <!-- <DropdownBtn client:load triggerBtn="2023" isUseBg={true} lists={["2022", "2021", "2020"]} /> -->
      <!-- <button
        class="text-[#559DE6] bg-[#21262D] font-base rounded-lg text-sm px-8 py-4 text-center inline-flex items-center"
      >
        Show More Activity
      </button> -->
      <Button client:idle text="Show More Activity" />
    </div>
  </div>
</section>
