---
import Card from "../../layouts/Card.astro";
---

<section class="space-y-6">
  <h3 class="text-xl font-medium md:text-xl">Popular repositories</h3>
  <Card>
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-col gap-3">
        <h3 class="text-lg font-semibold text-[#FB8500]">Gudang Barang</h3>
        <p class="text-md font-medium text-[#C2CFD9]">Config files for my github profile.</p>
      </div>
      <button
        id="about-tab"
        class="inline-block bg-[#023047] border-[2px] border-solid border-[#A5A6A8] border-opacity-50 px-12 py-3 text-[#C2CFD9 text-grey text-base font-medium rounded-xl"
      >
        Public
      </button>
    </div>

    <div class="mt-16 inline-flex items-center gap-2 text-[#C2CFD9]">
      <span class="h-[1rem] w-[1rem] rounded-full bg-[#AF1CE2]"></span>
      <p class="text-lg font-medium">CSS</p>
    </div>
  </Card>
</section>
